<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Snowtricks{% endblock %}</title>

    <!-- CSS -->
    {{ encore_entry_link_tags('app') }}

    <!--GoogleIcons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <!--GoogleFont-->
    <link href="https://fonts.googleapis.com/css?family=Jura|Raleway"
          rel="stylesheet">
</head>
<body>

<nav id="navbar">
    <a href="{{ path('Home') }}" id="logo-link">
        <img src="{{ asset('pic/general/logo.png') }}" alt="Logo du site SnowTrick représentant un
        snowboarder
        qui fait un figure"
             id="logo"/>
    </a>
    <a href="{{ path('Home') }}" id="a_scrollspy"
       class="nav-link material-icons">home</a>
    {% if app.user is null %}
        <a class="nav-link" href="{{ path('Authentication_user_connection') }}">Connexion</a>
        <a class="nav-link"
           href="{{ path('Authentication_user_registration') }}">S'enregistrer</a>
    {% else %}
        <a href="{{ path('New_trick') }}" class="nav-link">Nouvelle trick</a>
        <a href="{{ path('Profile_picture') }}" class="nav-link">Modifier
            profil</a>
        <a class="nav-link" href="/deconnexion">Déconnexion</a>
    {% endif %}
</nav>

<button class="material-icons" id="menu-icon-open">menu</button>
<button class="material-icons" id="menu-icon-close">close</button>

<div id="body">
    {% block body %}{% endblock %}
</div>

<footer id="footer">
    <div class="div-footer">
        <p>Tous droits réservés à Snowtricks &copy; 2018</p>
        <p>Site développé par <a href="http://www.jojotique.fr" target="_blank">Jojotique</a>
        </p>
        <br/>
        <p><a href="{{ path('GCU') }}">Conditions générales d'utilisation</a>
        </p>
    </div>
    <div class="div-footer">
        <div class="subDiv-footer">
            <p>Suivez nous sur les réseaux sociaux</p>
        </div>
        <div class="subDiv-footer">
            <img src="{{ asset('pic/general/twitter.svg') }}" alt="Icône de
            twitter"/>
            <img src="{{ asset('pic/general/facebook.svg') }}" alt="Icône de
            Facebook"/>
            <img src="{{ asset('pic/general/linkedin.svg') }}" alt="Icône de
            LinkedIn"/>
        </div>
    </div>
</footer>


{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('collectionTypeNewTrick') }}
{{ encore_entry_script_tags('collectionTypeTrickModification') }}
{{ encore_entry_script_tags('homeAddTricks') }}
{{ encore_entry_script_tags('menuButton') }}
{{ encore_entry_script_tags('modalWindow') }}
{{ encore_entry_script_tags('upButton') }}
{{ encore_entry_script_tags('commentButton') }}
{{ encore_entry_script_tags('modal') }}
</body>
</html>
