{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/css/trick/home.css"/>
{% endblock %}

{% block body %}
    <h1>Snow<span>Tricks</span></h1>

    {% if tricks is not empty %}
        <section id="section-home">
            {% for trick in tricks %}
                <article>
                    <header>
                        {% set picturePresent = false %}
                        {% for picture in trick.pictures %}
                            {% if picture.headPicture == true %}
                                <a href="{{ path('Trick_show', {'trickSlug': trick.slug}) }}">
                                    <img src="/pic/tricks/{{ picture.name }}.{{ picture.extension }}"
                                         alt="{{ picture.description }}" class="img-fluid"/>
                                </a>
                                {% set picturePresent = true %}
                            {% endif %}
                        {% endfor %}

                        {% if picturePresent == false %}
                            <a href="{{ path('Trick_show', {'trickSlug': trick.slug}) }}">
                                <img src="/pic/general/head_picture.jpg" alt="Image montrant un snowboarder."
                                     class="img-fluid"/>
                            </a>
                        {% endif %}
                    </header>

                    <section>
                        <h3>
                            <a href="{{ path('Trick_show', {'trickSlug': trick.slug}) }}">
                                {{ trick.name|upper }}
                            </a>
                        </h3>
                        <p class="card-description">{{ trick.description }}</p>
                    </section>

                    <footer>
                        <a href="{{ path('Trick_show', {'trickSlug': trick.slug}) }}" class="btn">
                            <button>Voir la figure</button>
                        </a>
                    </footer>
                </article>
            {% endfor %}
        </section>

        {% if pageNumber > 1 %}
            {% include 'services/pagination.html.twig' with {pathName: 'Home'} %}
        {% endif %}
    {% else %}
        <h2>Désolé, aucune figure n'a été crée ou n'a été publiée.</h2>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}
