{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="section-form">
        <h1>Modification de {{ trick.name }}</h1>

        {% form_theme form 'Form/trick_modification.html.twig' %}
        {{ form(form) }}

        <aside id="elements">
            {% if trick.pictures is not empty %}
                {% for picture in trick.pictures %}
                    <div class="entityElements">
                        <img src="{{ asset('/pic/tricks/' ~ picture.name ~ '.' ~ picture.extension) }}"
                             alt="{{ picture.description }}"
                             class="img-fluid"/>
                        <a href="{{ path('Trick_modification_delete_picture') }}?s={{ picture.name }}&t={{ picture.DeleteToken }}"
                           class="btn-delete material-icons">delete</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if trick.videos is not empty %}
                {% for video in trick.videos %}
                    <div class="entityElements">
                        <iframe src="https://www.youtube.com/embed/{{ video.name }}"
                                frameborder="0"
                                allow="autoplay; encrypted-media"
                                allowfullscreen class="img-fluid"></iframe>
                        <a href="{{ path('Trick_modification_delete_video') }}?s={{ video.name }}&t={{
                        video
                        .DeleteToken }}"
                           class="btn-delete material-icons">delete</a>
                    </div>
                {% endfor %}
            {% endif %}
        </aside>
    </section>
{% endblock %}
