{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de modification des figures</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Valider"/>
    {{ form_rest(form) }}
    {{ form_end(form) }}


    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            <img src="/pic/tricks/{{ picture.name }}.{{ picture.extension }}" alt="{{ picture.description }}"/>
            <a href="http://localhost:8000/espace-utilisateur/trick/image-suppression?s={{ picture.name }}&t={{ picture.DeleteToken }}"
                class="btn btn-danger">X</a>
            <br />
        {% endfor %}
    {% endif %}

    {% if trick.videos is not empty %}
        {% for video in trick.videos %}
            <iframe src="https://www.youtube.com/embed/{{ video.name }}" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen class="col-sm-3"></iframe>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/collectionType2.js"></script>
{% endblock %}
