{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Page de présentation de la figure {{ trick.name }}</h1>

    <p>Description : {{ trick.description }}</p>

    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            <h5>{{ picture.name }}</h5>
        {% endfor %}
    {% endif %}

    {% if trick.videos is not empty %}
        {% for video in trick.videos %}
            <h5>{{ video.name }}</h5>
        {% endfor %}
    {% endif %}

    {% if app.user is not null %}
        {{ form_start(formComment) }}
        {{ form_widget(formComment) }}
        <input type="submit" value="Valider" class="btn btn-success"/>
        {{ form_end(formComment) }}
    {% endif %}

    {% if trick.comments is not empty %}
        <table>
            <thead>
            <tr>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in trick.comments %}
                <tr>
                    <td>{{ comment.author.username }} le {{ comment.createdAt | date('Y-m-d H:i:s') }} a dit
                        : {{ comment.comment }}</td>
                    <td>
                        {% if app.user is not null and (is_granted('ROLE_ADMIN') or app.user == comment.author) %}
                            <a href="{{ path('Trick_show', {'trickSlug': trick.slug}) }}?action=modifier&id={{ comment.id }}"
                               class="btn btn-success">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}
