{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Page de présentation de la figure {{ trick.name }}</h1>

    <p>Description : {{ trick.description }}</p>

    {% if trick.pictures is not empty %}
        {% for picture in trick.pictures %}
            <h5>{{ picture.name }}</h5>
        {% endfor %}
    {% endif %}

    {% if trick.videos is not empty %}
        {% for video in trick.videos %}
            <h5>{{ video.name }}</h5>
        {% endfor %}
    {% endif %}

    {% if app.user is not null %}
        {{ form_start(formComment) }}
        {{ form_widget(formComment) }}
        <input type="submit" value="Valider" class="btn btn-success" />
        {{ form_end(formComment) }}
    {% endif %}

    {% if trick.comments is not empty %}
        <ul>
            {% for comment in trick.comments %}
                <li>{{ comment.author.username }} le {{ comment.createdAt | date('Y-m-d H:i:s') }} a dit : {{ comment.comment }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}
